# Omit design documents and specifications
*.docx
*.doc
*.pdf
*.xlsx
*.csv
*.txt

# Omit compiled Python files
__pycache__/

# Omit IDE specific files
.vscode/

# Omit environment files
.env

# Omit examples
/examples/