# Omit design documents and specifications
*.docx
*.doc
*.pdf
*.xlsx
*.csv
*.txt

# Omit egg-info
*.egg-info

# Omit logs
*.log

# Omit compiled Python files
__pycache__/

# Omit IDE specific files
.vscode/

# Omit environment files
.env

# Omit examples, tests and debug files
debug*
/examples/
/tests/